<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "cart">
	<insert id="cartJoin">
		insert into cart values (#{cr_number}, #{m_id}, #{p_number}, #{p_name}, #{cr_amount}, #{p_price}, #{p_sum_price}, #{p_r_image}) 	
	</insert>
	
	<select id="cartList" parameterType="string" resultType= "crdto">
		select * from cart where m_id = #{m_id}
	</select>
	
	<select id="cartCount" parameterType="string" resultType="int">
		select count(*) from cart where m_id = #{m_id}
	</select>
	
	<delete id="cartDelete">
    	delete from cart where cr_number = #{cr_number}
    </delete>
	
	<delete id="cartDeleteAll">
    	delete from cart where m_id = #{m_id}
    </delete>
    
</mapper>